#home{
    -fx-background-image: url(rayquaza_wallpaper.jfif);
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
}

#home > .label{
    -fx-text-fill: white;
    -fx-font-size: 10em;
}

#stats,#descr,#primDesc {
    -fx-border-style: solid inside;
    -fx-border-radius: 5px;
}
